ion-card {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
    
    ion-card-header {
    text-align: center;
    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;

    ion-card-title {
        font-size: 20px;
        font-weight: bold;
      }
      
    }

    ion-card-content {
    padding: 20px;

    ion-item {
        ion-label {
          font-weight: bold;
        }
      }

    }
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007aff;
    &:active {
    background-color: #0069e1;
    }
    }
    
    .create-profile-button {
    margin-bottom: 20px;
    }
    
    .write-profile-button {
    background-color: #32db64;
    &:active {
    background-color: #2dcc5e;
    }
    }

    ion-content {
        .bottom-buttons {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      
        button {
          margin: 8px;
        }
      }
      